.bg-gray {
  background-color: #f3f4f9;
}

.header {
  background-image: url("./resources/main_7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
}

.ml-5per {
  margin-left: 5%;
}

.ml-10per {
  margin-left: 10%;
}

.mt-10per {
  margin-top: 10%;
}

.mr-10per {
  margin-right: 10%;
}

.pl-10per {
  padding-left: 10%;
}

.btn-outline {
  border: 2px solid black;
  color: #bbb;
  padding: 14px 28px;
  font-size: 16px;
  border-color: #bbb;
}

.title-btn {
  height: 50px;
  border: none;
  border-radius: 0%;
}

.divider {
  width: 80%;
  height: 1px;
  margin-left: 10%;
  background-color: #bbb;
}

 /* .show {
  display: block;
}  */

.hide {
  display: none;
}

.details-btn{
  border-radius: 0%;
  height: 60px;
  background-color: #e9e9f1;
  border-color: #e9e9f1;
  color: black;
}

.details-btn:hover{
  background-color: #fff;
  border-color: #fff;
  color: #000;
}